@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Patrick+Hand&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%; /* Asegura que el contenido esté centrado verticalmente */
    overflow-x:hidden;
}

/* DIV web cabeza*/
.cabeza{
    background-color: #a7d1d9;
    width: 100%;
    height: auto;
    padding-bottom: 5%;
}
/* ESTILOS DE TIUTLO*/
.top{
    font-size: 25px; /* Tamaño de la fuente*/
    font-weight: bold;
    font-family:"Pacifico", serif ;
    text-align: center;
    padding-bottom: 10px;

}

h2{
    text-align: center;
}
/*Estilos de nav*/
.start-list{
    display: flex;
    justify-content: center;
    width: 100%;
    position: top;
    text-transform: uppercase;
    font-family: "Patrick Hand", serif;

}

.start-list ul{
    display: flex;
    flex-direction:row;
    list-style: none;
    justify-content: right;
    gap: 55px;
    font-family: "Patrick Hand", serif;
    font-size: larger;
    font-weight: bold;
}
a{
    color: black;
    text-decoration: none;
}
.start-list ul li:hover{
    background-color: #93cdd8;
    box-shadow: black;
    border-radius: 15%;
    transform: scale(1.1);
    color: rgb(0, 0, 0);
    transition: 0.5s;
    font-weight: bold;
}
nav {
    display: flex;
    align-items: center;
    position: relative; /* Necesario para posicionar la lista de navegación */
}
.menu-toggle {
    display: none; /* Ocultar en pantallas grandes */
    flex-direction: column; /* Disposición vertical de las barras */
    cursor: pointer; /* Cambia el cursor al pasar sobre el icono */
}


/* Contenedor para las cajas */
.container {
    display: flex; /* Usamos flexbox para que las cajas estén en una sola fila */
    flex-direction: row;
    justify-content: center; /* Centra las cajas horizontalmente */
    gap: 20px; /* Espacio entre las cajas */
    flex-wrap: nowrap; /* Evita que las cajas se envuelvan a una nueva línea */
    margin-top: 50px;
    width: 100%;
    height: 100%;
    font-family: "Patrick Hand", serif;

}

/* Estilos de cada caja */
.box {
    background-color: #9fddfc; /* Color pastel suave para el fondo de la caja */
    width: 250px; /* Ancho fijo */
    height: auto; /* Altura fija */
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    transition: transform 0.3s ease-in-out;
}
.box1 {
    background-color: #fc9fe0; /* Color pastel suave para el fondo de la caja */
    width: 250px; /* Ancho fijo */
    height: auto; /* Altura fija */
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    transition: transform 0.3s ease-in-out;
}
.box2 {
    background-color: #9ffcd1; /* Color pastel suave para el fondo de la caja */
    width: 250px; /* Ancho fijo */
    height: auto; /* Altura fija */
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    transition: transform 0.3s ease-in-out;
}
.box3 {
    background-color: #d78fed; /* Color pastel suave para el fondo de la caja */
    width: 250px; /* Ancho fijo */
    height: auto; /* Altura fija */
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
}


/* Estilos para las imágenes dentro de cada caja */
.box img {
    width: 100%;
    height: 150px;
    object-fit: cover; /* Asegura que la imagen cubra bien el área sin distorsionarse */
    border-radius: 10px;
}
.box1 img {
    width: 100%;
    height: 150px;
    object-fit: cover; /* Asegura que la imagen cubra bien el área sin distorsionarse */
    border-radius: 10px;
}
.box2 img {
    width: 100%;
    height: 150px;
    object-fit: cover; /* Asegura que la imagen cubra bien el área sin distorsionarse */
    border-radius: 10px;
}
.box3 img {
    width: 100%;
    height: 150px;
    object-fit: cover; /* Asegura que la imagen cubra bien el área sin distorsionarse */
    border-radius: 10px;
}

/* Estilo para el texto dentro de cada caja */
.box p {
    font-size: 1em;
    color: #6c6c69; /* Color pastel rosado para el texto */
    margin-top: 10px;
    text-align: left;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.7); /* Fondo blanco translúcido para el texto */
    border-radius: 8px;
    height: auto;
    margin-bottom: 10px;
    a {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    border: 2px solid #fefefe;
    text-transform: uppercase;
    color: #fefefe;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
}


a::before {
content: '';
position: absolute;
top: 6px;
left: -2px;
width: calc(100% + 4px);
height: calc(100% - 12px);
background-color: #212121;
transition: 0.3s ease-in-out;
transform: scaleY(1);
}

a:hover::before {
transform: scaleY(0);
}

a::after {
content: '';
position: absolute;
left: 6px;
  top: -2px;
  height: calc(100% + 4px);
  width: calc(100% - 12px);
  background-color: #212121;
  transition: 0.3s ease-in-out;
  transform: scaleX(1);
  transition-delay: 0.5s;
}

a:hover::after {
  transform: scaleX(0);
}

a span {
  position: relative;
  z-index: 3;
}

button {
    padding-top: 5px;
  background-color: none;
  text-decoration: none;
  background-color: #fff530;
  border: none;
}
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box1 p {
    font-size: 1em;
    color: #6c6c69; /* Color pastel rosado para el texto */
    margin-top: 10px;
    text-align: left;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.7); /* Fondo blanco translúcido para el texto */
    border-radius: 8px;
    height: auto;
    margin-bottom: 10px;
    a {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    border: 2px solid #fefefe;
    text-transform: uppercase;
    color: #fefefe;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
}


a::before {
content: '';
position: absolute;
top: 6px;
left: -2px;
width: calc(100% + 4px);
height: calc(100% - 12px);
background-color: #212121;
transition: 0.3s ease-in-out;
transform: scaleY(1);
}

a:hover::before {
transform: scaleY(0);
}

a::after {
content: '';
position: absolute;
left: 6px;
  top: -2px;
  height: calc(100% + 4px);
  width: calc(100% - 12px);
  background-color: #212121;
  transition: 0.3s ease-in-out;
  transform: scaleX(1);
  transition-delay: 0.5s;
}

a:hover::after {
  transform: scaleX(0);
}
a span {
  position: relative;
  z-index: 3;
}

button {
    padding-top: 5px;
  background-color: none;
  text-decoration: none;
  background-color: #fff530;
  border: none;
}
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box2 p {
    font-size: 1em;
    color: #6c6c69; /* Color pastel rosado para el texto */
    margin-top: 10px;
    text-align: left;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.7); /* Fondo blanco translúcido para el texto */
    border-radius: 8px;
    height: auto;
    margin-bottom: 10px;
    a {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    border: 2px solid #fefefe;
    text-transform: uppercase;
    color: #fefefe;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
}


a::before {
content: '';
position: absolute;
top: 6px;
left: -2px;
width: calc(100% + 4px);
height: calc(100% - 12px);
background-color: #212121;
transition: 0.3s ease-in-out;
transform: scaleY(1);
}

a:hover::before {
transform: scaleY(0);
}

a::after {
content: '';
position: absolute;
left: 6px;
  top: -2px;
  height: calc(100% + 4px);
  width: calc(100% - 12px);
  background-color: #212121;
  transition: 0.3s ease-in-out;
  transform: scaleX(1);
  transition-delay: 0.5s;
}

a:hover::after {
  transform: scaleX(0);
}

a span {
  position: relative;
  z-index: 3;
}

button {
    padding-top: 5px;
  background-color: none;
  text-decoration: none;
  background-color: #fff530;
  border: none;
}
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box3 p {
    font-size: 1em;
    color: #6c6c69; /* Color pastel rosado para el texto */
    margin-top: 10px;
    text-align: left;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.7); /* Fondo blanco translúcido para el texto */
    border-radius: 8px;
    height: auto;
    margin-bottom: 10px;
    a {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    border: 2px solid #fefefe;
    text-transform: uppercase;
    color: #fefefe;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
}


a::before {
content: '';
position: absolute;
top: 6px;
left: -2px;
width: calc(100% + 4px);
height: calc(100% - 12px);
background-color: #212121;
transition: 0.3s ease-in-out;
transform: scaleY(1);
}

a:hover::before {
transform: scaleY(0);
}

a::after {
content: '';
position: absolute;
left: 6px;
  top: -2px;
  height: calc(100% + 4px);
  width: calc(100% - 12px);
  background-color: #212121;
  transition: 0.3s ease-in-out;
  transform: scaleX(1);
  transition-delay: 0.5s;
}

a:hover::after {
  transform: scaleX(0);
}

a span {
  position: relative;
  z-index: 3;
}

button {
    padding-top: 5%;
  background-color: none;
  text-decoration: none;
  background-color: #fff530;
  border: none;
}
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.seccion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    background-color: #9fddfc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: "Patrick Hand", serif;
}
.p-section{
    font-family: "Patrick Hand", serif;
    font-size: larger;
    padding-left: 5%;

}
.h-section{
    font-family: "Patrick Hand", serif;
    font-size: larger;
    font-weight: bold;

}
.seccion ul{
    list-style: none;
    font-family: "Patrick Hand", serif;
    padding-left: 5%;

}
.list2{
    padding-left:5% ;
    font-family: "Patrick Hand", serif;

}

.texto {
    width: 60%;
    font-family: "Sigmar", serif;
    color: #000000;
    text-align: left;
}

.texto h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #488fe0;
    text-align: center;
}

.texto p {
    font-size: 1.2em;
    line-height: 1.5;
}

.imagen {
    width: 30%;
}

.imagen img {
    width: 100%;
    height: auto;
    border-radius: 50%; /* Esto hace que la imagen sea redonda */
    border: 5px solid #6fc2fd; /* Borde opcional alrededor de la imagen */
}
/* Box act 2*/

.seccion2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    height: auto;
    background-color: #fc9fe0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.texto2 {
    width: 60%;
    font-family: "Sigmar", serif;

}
.texto2 {
    width: 65%;
    font-family: "Sigmar", serif;
    color: #000000;
    text-align: left;
}

.texto2 h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #e048ab;
    text-align: center;
}
.p-section2{
    font-family: "Patrick Hand", serif;
    font-size: larger;
    padding-left: 5%;
    margin-bottom: 5px;

}



.imagen2 {
    width: 30%;
}

.imagen2 img {
    width: 100%;
    height: auto;
    border-radius: 50%; /* Esto hace que la imagen sea redonda */
    border: 5px solid #f247bf; /* Borde opcional alrededor de la imagen */
}

/* Efecto de hover sobre las cajas */
.box:hover {
    transform: scale(1.05); /* Agranda la caja ligeramente cuando el usuario pasa el cursor */
}
/* Galería de imágenes 1 */
.gallery {
    margin-top: 50px;
    padding: 40px;
    text-align: center;
    border-radius: 10%;
}

.hg1-section{
    font-family: "Patrick Hand", serif;
    font-size: 55px;
    font-weight: bold;
    
}
/* Contenedor de la galería */
.gallery-container {
    display: grid; /* Usamos grid para las imágenes */
    grid-template-columns: repeat(3, 1fr); /* Tres columnas de igual tamaño */
    gap: 20px; /* Espacio entre las imágenes */
    justify-items: center; /* Centra las imágenes dentro de cada celda */
    margin-top: 2%;
    margin-bottom: 2%;
}

/* Estilos para cada imagen dentro de la galería */
.gallery-item img {
    width: 100%; /* Las imágenes llenan el ancho de su contenedor */
    height: 250px; /* Establecemos una altura fija para todas las imágenes */
    object-fit: cover; /* Asegura que las imágenes cubran el área sin distorsionarse */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
    transition: transform 0.3s ease-in-out; /* Efecto de transición al hacer hover */
}

/* Efecto de hover sobre las imágenes */
.gallery-item img:hover {
    transform: scale(1.05); /* Aumenta ligeramente el tamaño de la imagen */
    /* Estilos para la sección de imagen y texto */
.image-text-section {

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f9f9; /* Fondo claro pastel */
    padding: 10px;
    margin-top: 10px; /* Espacio entre secciones */
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Estilo para la imagen */
.section-image {
    width: 200px; /* Ajusta el tamaño de la imagen */
    height: auto;
    border-radius: 10px; /* Bordes redondeados */
    object-fit: cover; /* Asegura que la imagen se ajuste bien */
}

/* Contenedor de texto */
.text-container {
    flex: 1;
    padding: 20px;
}

/* Título de la sección */
.text-container h2 {
    font-size: 2.5em;
    color: #ff7f7f; /* Color rosado pastel para el título */
    margin-bottom: 20px;
}

/* Texto de la sección */
.text-container p {
    font-size: 1.2em;
    color: #555;
    line-height: 1.6;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



}

/* Galería de imágenes */
.gallery2 {
    margin-top: 50px;
    padding: 40px;
    text-align: center;
    border-radius: 10%;
}

.gallery2 h2 {
    font-size: 2.5em;
    color: #7fd9ff;
    margin-bottom: 20px;
}

/* Contenedor de la galería */
.gallery-container2 {
    display: grid; /* Usamos grid para las imágenes */
    grid-template-columns: repeat(3, 1fr); /* Tres columnas de igual tamaño */
    gap: 20px; /* Espacio entre las imágenes */
    justify-items: center; /* Centra las imágenes dentro de cada celda */
    margin-top: 5%;
    margin-bottom: 5%;
}

/* Estilos para cada imagen dentro de la galería */
.gallery-item2 img {
    width: 100%; /* Las imágenes llenan el ancho de su contenedor */
    height: 250px; /* Establecemos una altura fija para todas las imágenes */
    object-fit: cover; /* Asegura que las imágenes cubran el área sin distorsionarse */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
    transition: transform 0.3s ease-in-out; /* Efecto de transición al hacer hover */
}

/* Efecto de hover sobre las imágenes */
.gallery-item2 img:hover {
    transform: scale(1.05); /* Aumenta ligeramente el tamaño de la imagen */
    /* Estilos para la sección de imagen y texto */
}
.image-text-section {

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f9f9; /* Fondo claro pastel */
    padding: 10px;
    margin-top: 10px; /* Espacio entre secciones */
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}
/*box act3*/
.seccion3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px auto;
    width: 80%;
    height: 100%;
    background-color: #9ffcd1;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.texto3 {
    width: 60%;
    font-family: "Sigmar", serif;

}
.texto3 {
    width: 65%;
    font-family: "Sigmar", serif;
    color: #000000;
    text-align: left;
}

.texto3 h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #31e893;
    text-align: center;
}

.h-section3{
    font-family: "Patrick Hand", serif;
    font-size: larger;
    font-weight: bold;
    text-align: center;
}
.p-section3{
    font-family: "Patrick Hand", serif;
    font-size: medium;
    padding-bottom: 5px;
    padding-left: 5%;
}

.imagen3 {
    width: 30%;
    padding: 10px;

}

.imagen3 img {
    width: 100%;
    height: auto;
    border-radius: 50%; /* Esto hace que la imagen sea redonda */
    border: 5px solid #1cf690; /* Borde opcional alrededor de la imagen */
}
.hg2-section{
    font-family: "Patrick Hand", serif;
    font-size: 55px;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    
}

/* Galería de imágenes */
.gallery-item3 {
    margin-top: 50px;
    padding: 40px;
    background-color: #f9f9f9;
    text-align: center;
}

.gallery-item3 h2 {
    font-size: 2.5em;
    color: #7fd9ff;
    margin-bottom: 20px;
}

/* Contenedor de la galería */
.gallery-container3 {
    display: grid; /* Usamos grid para las imágenes */
    grid-template-columns: repeat(3, 1fr); /* Tres columnas de igual tamaño */
    gap: 20px; /* Espacio entre las imágenes */
    justify-items: center; /* Centra las imágenes dentro de cada celda */
    ;
}

/* Estilos para cada imagen dentro de la galería */
.gallery-item3 img {
    width: 100%; /* Las imágenes llenan el ancho de su contenedor */
    height: 250px; /* Establecemos una altura fija para todas las imágenes */
    object-fit: cover; /* Asegura que las imágenes cubran el área sin distorsionarse */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
    transition: transform 0.3s ease-in-out; /* Efecto de transición al hacer hover */
}

/* Efecto de hover sobre las imágenes */
.gallery-item3 img:hover {
    transform: scale(1.05); /* Aumenta ligeramente el tamaño de la imagen */
    /* Estilos para la sección de imagen y texto */
}
/*box act4*/
.seccion4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    background-color: #d78fed;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.texto4 {
    width: 60%;
    font-family: "Sigmar", serif;

}
.texto4 {
    width: 65%;
    font-family: "Sigmar", serif;
    color: #000000;
    text-align: left;
}

.texto4 h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #c22af0;
    text-align: center;
}

.h-section4{
    font-family: "Patrick Hand", serif;
    font-size: larger;
    font-weight: bold;
    text-align: center;
}
.p-section4{
    font-family: "Patrick Hand", serif;
    font-size: medium;
    padding-bottom: 15px;
    padding-left: 5%;
}

.imagen4 {
    width: 30%;
}

.imagen4 img {
    width: 60%;
    height: auto;

    border-radius: 50%; /* Esto hace que la imagen sea redonda */
    border: 5px solid #cc57f0; /* Borde opcional alrededor de la imagen */
}
.hg3-section{
    font-family: "Patrick Hand", serif;
    font-size: 55px;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    
}

/* Galería de imágenes */
.gallery-item4 {
    margin-top: 50px;
    padding: 40px;
    background-color: #f9f9f9;
    text-align: center;
}

.gallery-item4 h2 {
    font-size: 2.5em;
    color: #7fd9ff;
    margin-bottom: 20px;
}

/* Contenedor de la galería */
.gallery-container4 {
    display: grid; /* Usamos grid para las imágenes */
    grid-template-columns: repeat(3, 1fr); /* Tres columnas de igual tamaño */
    gap: 20px; /* Espacio entre las imágenes */
    justify-items: center; /* Centra las imágenes dentro de cada celda */
    ;
}

/* Estilos para cada imagen dentro de la galería */
.gallery-item4 img {
    width: 100%; /* Las imágenes llenan el ancho de su contenedor */
    height: 250px; /* Establecemos una altura fija para todas las imágenes */
    object-fit: cover; /* Asegura que las imágenes cubran el área sin distorsionarse */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
    transition: transform 0.3s ease-in-out; /* Efecto de transición al hacer hover */
}

/* Efecto de hover sobre las imágenes */
.gallery-item4 img:hover {
    transform: scale(1.05); /* Aumenta ligeramente el tamaño de la imagen */
    /* Estilos para la sección de imagen y texto */
}


.spikes {
    position: relative;
    background: white;
    height: 30px;
}

.spikes::after {
    content: '';
    position: absolute;
    right: 0;
    left: -0%;
    top: 100%;
    z-index: 10;
    display: block;
    height: 50px;
    background-size: 50px 100%;
    background-image: linear-gradient(135deg, white 25%, transparent 25%), linear-gradient(225deg, white 25%, transparent 25%);
    background-position: 0 0;
    background-color: #2c3e50;
}



footer {
    overflow: hidden;
    display: flex;
    background-color: #2c3e50;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-top: 2px solid #2c3e50;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    
}
.final{
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    gap:105px;
    padding-left: 5%;
}
.mapa{

    display: flex;
    flex-direction: row;
    gap: 45px;
}
.map-container {
    position: relative;
    width: 100%;
    max-width: 350px;
    height: 300px;
    margin-bottom: 15px;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 8px;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.contact-info {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: #ffffff;
}
.inf{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline rgb(118, 210, 203);
    padding-bottom: 15px;
}
/*Iconos de las paginas web*/

ul {
    list-style: none;
}

.example-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20%;
}
.example-2 .icon-content {
    margin: 0 10px;
    position: relative;
}
.example-2 .icon-content .tooltip {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
    transition: all 0.3s ease;
}
.example-2 .icon-content:hover .tooltip {
    opacity: 1;
    visibility: visible;
    top: -50px;
}
.example-2 .icon-content a {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #4d4d4d;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover {
    box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}
.example-2 .icon-content a svg {
    position: relative;
    z-index: 1;
    width: 30px;
    height: 30px;
}
.example-2 .icon-content a:hover {
    color: white;
}
.example-2 .icon-content a .filled {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover .filled {
    height: 100%;
}

.example-2 .icon-content a[data-social="whatsapp"] .filled,
.example-2 .icon-content a[data-social="whatsapp"] ~ .tooltip {
    background-color: #128c7e;
}

.example-2 .icon-content a[data-social="facebook"] .filled,
.example-2 .icon-content a[data-social="facebook"] ~ .tooltip {
    background-color: #3b5998;
}
.example-2 .icon-content a[data-social="instagram"] .filled,
.example-2 .icon-content a[data-social="instagram"] ~ .tooltip {
    background: linear-gradient(
    45deg,
        #405de6,
        #5b51db,
        #b33ab4,
        #c135b4,
        #e1306c,
        #fd1f1f
    );
}
.example-2 .icon-content a[data-social="youtube"] .filled,
.example-2 .icon-content a[data-social="youtube"] ~ .tooltip {
    background-color: #ff0000;
}


.contact-info p {
    margin: 5px 0;
}

/* box para que se registren */

.container2 {
    border: solid 1px #8d8d8d;
    padding: 30px;
    border-radius: 20px;
    background-color: #fff;
    width: 350px;
    height: 300px;
}

.container .heading {
    font-size: 1.3rem;
    margin-bottom: 20px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}

.form {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form .btn-container {

    display: flex;
    align-items: center;
    gap: 20px;
}

.form .btn {
    padding: 10px 20px;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-radius: 10px;
    border: solid 1px rgb(118, 210, 203);
    border-bottom: solid 1px #90c2ff;
    background: linear-gradient(135deg, rgb(118, 210, 203), rgb(118, 210, 203));
    color: #fff;
    font-weight: bolder;
    transition: all 0.2s ease;
    box-shadow: 0px 2px 3px #000d3848, inset 0px 4px 5px rgb(118, 210, 203)
    inset 0px -4px 5px rgb(118, 210, 203);
}

.form .btn:active {
    box-shadow: inset 0px 4px 5px rgb(118, 210, 203), inset 0px -4px 5px rgb(118, 210, 203);
    transform: scale(0.995);
}

.input-field {
    position: relative;
}

.input-field label {
    position: absolute;
    color: #8d8d8d;
    pointer-events: none;
    background-color: transparent;
    left: 15px;
    transform: translateY(0.6rem);
    transition: all 0.3s ease;
}

.input-field input {
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 8px;
    border: solid 1px #8d8d8d;
    letter-spacing: 1px;
    width: 75%;
}

.input-field input:focus,
.input-field input:valid {
    outline: none;
    border: solid 1px rgb(118, 210, 203)
}

.input-field input:focus ~ label,
.input-field input:valid ~ label {
    transform: translateY(-51%) translateX(-10px) scale(0.8);
    background-color: #fff;
    padding: 0px 5px;
    color: rgb(118, 210, 203);
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
    border-radius: 100px;
}

.form .passicon {
    cursor: pointer;
    font-size: 1.3rem;
    position: absolute;
    top: 6px;
    right: 8px;
}

.form .close {
    display: none;
}
@media only screen and (max-width: 414px) {

    .cabeza{
        background-color: white;
    }
    .nav-listas{
        display: none;
    }
    .menu-toggle {
        display: flex; /* Mostrar el menú hamburguesa */
        cursor: pointer; /* Cambiar el cursor al pasar sobre el icono */
        width: 100%; /* Asegurarse de que ocupe el 100% del ancho */
        text-align: center;
    }
    .container{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    } 
    /*Edicion taller 1 */
    .seccion{
        display: flex;
        flex-direction: column;
    }
    .imagen {
        width: 160px;
        padding-top: 15%;
    }
        /*Edicion taller 2 */
        .seccion2{
            display: flex;
            flex-direction: column;
        }
        .imagen2 {
            width: 160px;
            padding-top: 15%;
        }
    /*Edicion taller 3 */
    .seccion3 {
        display: flex;
        flex-direction: column;
    }
    .imagen3 {
        width: 160px;
        padding-top: 15%;
    }
    /*Edicion taller 4 */
    .seccion4 {
        display: flex;
        flex-direction: column;
    }
    .imagen4 {
        width: 160px;
        padding-top: 15%;
    }
    /*Edicionn de galerias */
    .gallery-container3{
        display: none;
    }
    .gallery-container4{
        display: none;
    }

        /* Ajustar el footer */
        .footer {
            width: 100%; /* Asegurar que el footer ocupe el 100% del ancho */
            padding: 0; /* Eliminar padding en el footer */
            margin: 0; /* Eliminar márgenes en el footer */
            overflow-x: hidden;
        }
        .inf{
            margin-top: 8%;
        }
        .contact-info{
            padding-right: 5%;
        }
        .example-2{
            padding-right: 12%;
        }
        .map-container{
            display: none;
        }
        .container2{
            display: none;
        }
    
}